.main{
	width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
}
.outer {
	position: absolute;
	left: 270px;
	height: 500px;
	width: 1000px;
	background-color: aliceblue;
	border-radius: 10px;
	z-index: 10;
	display: flex;
	box-shadow: 15px 15px 0 0 black;
    justify-content: center;
    margin-top:80px;
    border:2px solid #0abb92;
}

#top-text {
	z-index: 11;
	color: #0abb92;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
	position: relative;
	top: 10px;
	left: 30px;
}


.Submit {
    position: absolute;
	color: #0abb92;
    border:2px solid #0abb92;
    height:40px;
    width: 150px;
    font-weight: bolder;
    background: none;
    border-radius: 30px;
    transition: 0.9s;
    left:500px;
}

.Submit:hover{
    color:#fff;
    background-color: #0abb92;
    font-weight: bolder;
}

.line {
	height: 5px;
	width: 93%;
	background-color: #0abb92;
	position: absolute;
	top: 80px;
	left: 30px;
	border-radius: 5px;
}

.Guide {
	position: absolute;
	left: 30px;
	top: 100px;
}
.GuideText {
	font-family: "Courier New", Courier, monospace;
	color: #0abb92;
}
.below-outer1 {
	display: flex;
	overflow-y: scroll;
	position: absolute;
	background-color: white;
	height: 320px;
	width: 93%;
	left: 30px;
	top: 150px;
	border-radius: 10px;
}

.Domains {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 50px;
	width: auto;
	padding: 10px;
	margin: 20px 20px;
	border-radius: 10px;
	border: 1px solid #0abb92;
}

.Submit{
    margin-left: 650px;
	position: absolute;
	bottom:50px;
	left:30px;
}
