.Container{
  width:300px;
  height: 300px;
  background-color: aliceblue;
  margin: 10px 0px 10px 15px;
  border-radius: 10px;
  color: #000;
}
.Head{
 position: relative;
 left:100px;
 top:20px;
}
.DetailsPart{
 position: relative;
 top:50px;
 left:40px;
}
.List{
  list-style: none;
}
.ListItems{
  padding:10px;
  font-size: large;
}

.EditProfile{
  height:30px;
  width:100px;
  background:none;
  color:#0abb92;
  border-radius: 30px;
  border:2px solid #0abb92;
  font-weight: bold;
  position: relative;
  left:50px;
  top:10px;
  transition: 0.5s;
}
.EditProfile:hover{
  background-color: #0abb92;
  color:#fff;
  font-weight:bold;
}
